* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.btn_box {
  max-width: 350px;
  width: 100%;
}

.month_btn {
  max-width: 128px;
  width: 100%;
  border: 1px solid white;
  padding: 16px 33px;
  border-radius: 36px;
  background-color: black;
  color: white;
  transition: 300ms linear;
}

.month_btn:hover {
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
}

.br_30 {
  border-radius: 30px;
}

.main {
  row-gap: 20px;
}